body{
    height:34em;
    margin-top: 2em;
    background-color: black;
}
main{
    background-image: url(img/fond.gif);
    background-size: 100% 100%;
}
#menu{
    z-index: 2;
}
#play{
    z-index: 1;
}
.fx{
    display: flex;
}
.fxColumn{
    flex-direction: column;
}
.jsContentSA{
    justify-content: space-around;
}
.jsContentSB{
    justify-content: space-between;
}
.jsContentC{
    justify-content: center;
}
.alItemsC{
    align-items: center;
}
.fxWrap{
    flex-wrap: wrap;
}
.widthmax{
    width:100%;
}
.widthmin{
    width:0%;
}
.heightmax{
    height:100%;
}
.marginAuto{
    margin:auto;
}
.marginone{
    margin:0;
}
.marginTop3{
    margin-top: 3em;
}
/*.marginTop1{
    margin-top:1em;
}*/
.width75{
    width: 75%;
}
.positionRel{
    position: relative;
}
.positionAbs{
    position: absolute;
}
.hpdiv{
    height:1.7em;
    width: 25%;
    border: 2px inset #b29a18;
    box-shadow: 0 0 0.5em yellow;
}
.inHp{
    max-width:100%;
    min-width: 0%;
    height: 100%;
    background-image: linear-gradient(to bottom , #5bad00, green, seagreen);
}
.scaleX{
    transform: scaleX(-1);
}
.manaDiv{
    height: 0.5em;
    width: 45%;
    border: 2px inset #4d4dff;
    border-right: none;
    border-top: none;
}
#manaLeft{
    background-image: linear-gradient(to bottom , #000080, #0000cc, #4d4dff);
}
#manaRight{
    background-image: linear-gradient(to bottom , #000080, #0000cc, #4d4dff);
}
.lifePencherL{
    transform: rotate(3deg) skewX(15deg) scaleX(-1);
}
.lifePencherR{
    transform: rotate(-3deg) skewX(165deg);
}
.policeName{
    font-variant-caps: small-caps;
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Stencil Std, fantasy";
    color: white;
    letter-spacing: 0.2em;
    text-shadow: 1px 2px 5px #000;
    margin: 0;
    margin-top: 0.2em;
}
#playerOne{
    position: absolute;
    left: 25%;
}
#playerTwo{
    position: absolute;
    left: 75%;
}
#champlayer{
    height: 5em;
    max-width: 95%;
    min-width: 0%;
    position: relative;
}
.ninjagirl{
    animation: ninjaGirlStop 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
}
.ninjagirlattack{
    animation: ninjagirllattack 0.8s;
    animation-timing-function: linear;
    height:8em;
    width:7em;
}
.ninjagirlrun{
    animation: ninjagirlrun 0.5s;
    animation-timing-function: linear;
    height:8em;
    width:5em;
}
.ninjaboy{
    animation: ninjaBoyStop 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height:7em;
    width:4em;
}
.ninjaboyattack{
    animation: ninjaboyattack 0.8s;
    animation-timing-function: linear;
    height:8em;
    width:8em;
    position:absolute;
}
.ninjaboyrun{
    animation: ninjaboyrun 0.5s;
    animation-timing-function: linear;
    height:8em;
    width:5em;
}
.degue{
    animation: degueStop 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:8em;
    width:5em;
    background-image: url(img/boue.gif);
}
.degueattack{
    animation: degueAttack 1s;
    animation-timing-function: step-end;
    height:8em;
    width:5em;
    background-image: url(img/boue.gif);
}
.deguerun{
    animation: degueRun 1s;
    animation-timing-function: step-end;
    height:8em;
    width:5em;
    background-image: url(img/boue.gif);
}
.maxima{
    animation: maximaStop 0.9s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:8em;
    width:5em;
    background-image: url(img/maxima.png);
}
.maximattack{
    animation: maximattack 1s;
    animation-timing-function: step-end;
    height:8em;
    width:5em;
    background-image: url(img/maxima.png);
}
.maximarun{
    animation: maximaRun 0.7s;
    animation-timing-function: step-end;
    height:8em;
    width:5em;
    background-image: url(img/maxima.png);
}
.thai{
    animation: thaiStop 0.9s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    height:8em;
    width:6em;
    background-image: url(img/thai.png);
}
.thaiattack{
    animation: thaiAttack 0.8s;
    animation-timing-function: step-end;
    height:8em;
    width:6em;
    background-image: url(img/thai.png);
}
.thairun{
    animation: thaiRun 0.8s;
    animation-timing-function: step-end;
    height:8em;
    width:6em;
    background-image: url(img/thai.png);
}
#divChampsPerso{
    margin-top: 1em;
    margin-bottom: -17em;
}
.champsDiv{
    height:4.5em;
    width:30%;
    /*background-color: whitesmoke;*/
    margin-top: 1;
    /*border: 2px solid black;*/
    border-right: none;
    border-bottom-left-radius: 7%;
    border-top-left-radius: 7%;
}
#champlayer{
    flex-direction: column-reverse;
    margin-bottom: 1em;
}
.imgNinjaG{
    background-image: url(img/ninjag/throw3.png);
    background-size: 100% 100%;
}
.imgNinjaB{
    background-image: url(img/ninjab/throw2.png);
    background-size: 100% 100%; 
}
.imgDegue{
    background-image: url(img/boue.gif);
    background-size: 1173% 787%;
    background-position: 1% 88%;
}
.imgMaxima{
    background-image: url(img/maxima.png);
    background-size: 1747% 9000%;
    background-position: 24.3% 96.9%;
}
.imgThai{
    background-image: url(img/thai.png);
    background-size: 1500% 6200%;
    background-position: 78.5% 95.79%;
}
.imgPerso{
    height: 5em;
    width: 25%;
}
.caractPolice{
    width: 50%;
    font-size: 1.2em;
    text-shadow: 2px 2px azure;
}
.menuPerso{
    height:6em;
    width:6em;
    border : 1px solid black;
    background-color: wheat;
}
#choosePlayer1{
    height:6em;
    width:6em;
    position: absolute;
    border: 4px solid yellow;
}
#choosePlayer2{
    height:6em;
    width:6em;
    position: absolute;
    border: 4px solid blue;
}
#choix1 div{
    background-image: url(img/boue.gif);
    background-size: 978% 952%;
    background-position: 0.3% 85%;
}
#choix2 div{
    background-image: url(img/ninjab/throw2.png);
    background-size: 100% 137%;
}
#choix3 div{
    background-image: url(img/maxima.png);
    background-size: 950% 7600%;
    background-position: 67% 98.6%;
}
#choix4 div{
    background-image: url(img/ninjag/throw3.png);
    background-size: 100% 150%;    
}
#choix5 div{
    background-image: url(img/thai.png);
    background-size: 1500% 6200%;
    background-position: 37.1% 95.79%;
}
.hooverPerso{
    background-color: red;
    width:8em;
    height: 11em;
}
@keyframes ninjaGirlStop{
    0%{
        background-image: url(img/ninjag/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjag/stop2.png);

    }
    30%{
        background-image: url(img/ninjag/stop3.png);

    }
    40%{
        background-image: url(img/ninjag/stop4.png);

    }
    50%{
        background-image: url(img/ninjag/stop5.png);

    }
    60%{
        background-image: url(img/ninjag/stop6.png);

    }
    70%{
        background-image: url(img/ninjag/stop7.png);

    }
    80%{
        background-image: url(img/ninjag/stop8.png);

    }
    90%{
        background-image: url(img/ninjag/stop9.png);

    }
    100%{
        background-image: url(img/ninjag/stop10.png);
        background-size: 4em 7em;
    }
}
@keyframes ninjagirlrun{
    0%{
        background-image: url(img/ninjag/run0.png);
        background-size: 5em 8em;
    }
    20%{
        background-image: url(img/ninjag/run1.png);
    }
    30%{
        background-image: url(img/ninjag/run2.png);
    }
    40%{
        background-image: url(img/ninjag/run3.png);
    }
    50%{
        background-image: url(img/ninjag/run4.png);
    }
    60%{
        background-image: url(img/ninjag/run5.png);
    }
    70%{
        background-image: url(img/ninjag/run6.png);        
    }
    80%{
        background-image: url(img/ninjag/run7.png);
    }
    90%{
        background-image: url(img/ninjag/run8.png);
    }
    100%{
        background-image: url(img/ninjag/run9.png);
        background-size: 5em 8em;
    }
}
@keyframes ninjagirllattack{
    0%{
        background-image: url(img/ninjag/attack1.png);
        background-size: 7em 8em;
    }
    20%{
        background-image: url(img/ninjag/attack2.png);
    }
    30%{
        background-image: url(img/ninjag/attack3.png);
    }
    40%{
        background-image: url(img/ninjag/attack4.png);
    }
    50%{
        background-image: url(img/ninjag/attack5.png);
    }
    60%{
        background-image: url(img/ninjag/attack6.png);
    }
    70%{
        background-image: url(img/ninjag/attack7.png);        
    }
    80%{
        background-image: url(img/ninjag/attack8.png);
    }
    90%{
        background-image: url(img/ninjag/attack9.png);
    }
    100%{
        background-image: url(img/ninjag/attack10.png);
        background-size: 7em 8em;
    }
}
@keyframes ninjaBoyStop{
    0%{
        background-image: url(img/ninjab/stop1.png);
        background-size: 4em 7em;
    }
    20%{
        background-image: url(img/ninjab/stop2.png);

    }
    30%{
        background-image: url(img/ninjab/stop3.png);

    }
    40%{
        background-image: url(img/ninjab/stop4.png);

    }
    50%{
        background-image: url(img/ninjab/stop5.png);

    }
    60%{
        background-image: url(img/ninjab/stop6.png);

    }
    70%{
        background-image: url(img/ninjab/stop7.png);

    }
    80%{
        background-image: url(img/ninjab/stop8.png);

    }
    90%{
        background-image: url(img/ninjab/stop9.png);

    }
    100%{
        background-image: url(img/ninjab/stop10.png);
        background-size: 4em 7em;
    }
}
@keyframes ninjaboyattack{
    0%{
        background-image: url(img/ninjab/attack1.png);
        background-size: 8em 8em;
    }
    20%{
        background-image: url(img/ninjab/attack2.png);
    }
    30%{
        background-image: url(img/ninjab/attack3.png);
    }
    40%{
        background-image: url(img/ninjab/attack4.png);
    }
    50%{
        background-image: url(img/ninjab/attack5.png);
    }
    60%{
        background-image: url(img/ninjab/attack6.png);
    }
    70%{
        background-image: url(img/ninjab/attack7.png);
    }
    80%{
        background-image: url(img/ninjab/attack8.png);
    }
    90%{
        background-image: url(img/ninjab/attack9.png);
    }
    100%{
        background-image: url(img/ninjab/attack10.png);
        background-size: 8em 8em;
    }
}
@keyframes ninjaboyrun{
    0%{
        background-image: url(img/ninjab/run0.png);
        background-size: 6em 8em;
        width: 6em;
    }
    20%{
        background-image: url(img/ninjab/run1.png);
    }
    30%{
        background-image: url(img/ninjab/run2.png);
    }
    40%{
        background-image: url(img/ninjab/run3.png);
    }
    50%{
        background-image: url(img/ninjab/run4.png);
    }
    60%{
        background-image: url(img/ninjab/run5.png);
    }
    70%{
        background-image: url(img/ninjab/run6.png);        
    }
    80%{
        background-image: url(img/ninjab/run7.png);
    }
    90%{
        background-image: url(img/ninjab/run8.png);
    }
    100%{
        background-image: url(img/ninjab/run9.png);
        background-size: 6em 8em;
        width: 6em;
    }
}

@keyframes degueStop{
    0%{
        background-size: 1000% 700%;
    }
    14.3%{
        background-position: 12% 0%;
    }
    28.6%{
        background-position: 24% 0;
    }
    42.9%{
        background-position: 35% 0;
    }
    57.2%{
        background-position: 47% 0;
    }
    71.5%{
        background-position: 58% 1%;
    }
    85.3%{
        background-position: 69% 1%;
    }
    100%{
        background-position: 84% 0;
    }
}
@keyframes degueAttack{
    0%{
        background-size: 727% 932%;
        background-position: 1% 53%;
    }
    12.5%{
        background-size: 727% 723%;
        background-position: 16.6% 51%;
        margin-left: 5%;
    }
    25%{
        background-size: 729% 723%;
        background-position: 31% 51%;
        margin-left: 10%;
    }
    37.5%{
        background-size: 729% 723%;
        background-position: 47% 51%;
        margin-left: 10%;
    }
    50%{
        background-size: 729% 723%;
        background-position: 63.6% 52%;
        margin-left: 10%;
    }
    62.5%{
        background-size: 729% 723%;
        background-position: 80.6% 52%;
        margin-left: 10%;
    }
    75%{
        background-size: 1100% 723%;
        background-position: 92.6% 52%;
    }
    87.5%{
        background-size: 1229% 723%;
        background-position: 100.5% 52%;
    }
    100%{
        background-size: 1229% 723%;
        background-position: 100.5% 52%;
    }
}
@keyframes degueRun{
    0%{
        background-size: 1069% 911%;
        background-position: 0% 69.9%;
    }
    16.5%{
        background-size: 1069% 911%;
        background-position: 13% 69.9%;
    }
    33%{
        background-size: 1069% 911%;
        background-position: 26% 69.9%;
    }
    49.5%{
        background-size: 1069% 911%;
        background-position: 38% 69.9%;
    }
    66%{
        background-size: 1069% 911%;
        background-position: 51.5% 69.9%;
    }
    82.5%{
        background-size: 1069% 911%;
        background-position: 64.1% 69.9%;
    }
    100%{
        background-size: 1100% 723%;
        background-position: 92.6% 52%;
    }
}
@keyframes maximaStop{
    0%{
        background-size: 1500% 10000%;
        background-position: 1% 0.1%;
    }
    16.5%{
        background-size: 1500% 10000%;
        background-position: 10.2% 0.1%;
    }
    33%{
        background-size: 1500% 10000%;
        background-position: 19.7% 0.1%;
    }
    49.5%{
        background-size: 1500% 10000%;
        background-position: 29.7% 0.1%;
    }
    66%{
        background-size: 1500% 10000%;
        background-position: 39.7% 0.1%;
    }
    82.5%{
        background-size: 1500% 10000%;
        background-position: 49.4% 0.1%;
    }
    100%{
        background-size: 1500% 10000%;
        background-position: 49.4% 0.1%;
    }
}
@keyframes maximattack{
    0%{
        background-size: 1200% 10000%;
        background-position: 1% 30.55%;
    }
    11%{
        background-size: 1200% 10000%;
        background-position: 9% 30.55%;
    }
    22%{
        background-size: 1200% 10000%;
        background-position: 18% 30.55%;
    }
    33%{
        background-size: 1200% 10000%;
        background-position: 28.3% 30.55%;
    }
    44%{
        background-size: 1200% 10000%;
        background-position: 39.8% 30.55%;
    }
    55%{
        background-size: 1200% 10000%;
        background-position: 51.8% 30.55%;
    }
    66%{
        background-size: 805% 10000%;
        background-position: 66% 30.6%;
        width: 9em;
    }
    77%{
        background-size: 805% 10000%;
        background-position: 84% 30.6%;
    }
    88%{
        background-size: 805% 10000%;
        background-position: 100% 30.6%;
        width: 9em;
    }
    100%{
        background-size: 1200% 10000%;
        background-position: 1% 30.55%;
    }
}
@keyframes maximaRun{
    0%{
        background-size: 1500% 10000%;
        background-position: 1% 1.15%;
    }
    12.5%{
        background-size: 1500% 10000%;
        background-position: 10% 1.15%;
    }
    25%{
        background-size: 1500% 10000%;
        background-position: 18% 1.15%;
    }
    37.5%{
        background-size: 1500% 10000%;
        background-position: 25% 1.15%;
    }
    50%{
        background-size: 1500% 10000%;
        background-position: 33% 1.15%;
    }
    62.5%{
        background-size: 1500% 10000%;
        background-position: 41% 1.15%;
    }
    75%{
        background-size: 1500% 10000%;
        background-position: 48% 1.15%;
    }
    87.5%{
        background-size: 1500% 10000%;
        background-position: 56% 1.15%;
    }
    100%{
        background-size: 1500% 10000%;
        background-position: 56% 1.15%;
    }
}
@keyframes thaiStop{
    0%{
        background-size: 1500% 6600%;
        background-position: 0.5% 3.15%;
    }
    9%{
        background-size: 1500% 6600%;
        background-position: 7.5% 3.15%;
    }
    18%{
        background-size: 1500% 6600%;
        background-position: 14.5% 3.15%;
    }
    27%{
        background-size: 1500% 6600%;
        background-position: 21.8% 3.15%;
    }
    36%{
        background-size: 1500% 6600%;
        background-position: 29.3% 3.15%;
    }
    45%{
        background-size: 1500% 6600%;
        background-position: 37.1% 3.15%;
    }
    54%{
        background-size: 1500% 6600%;
        background-position: 45% 3.15%;
    }
    63%{
        background-size: 1500% 6600%;
        background-position: 52.8% 3.15%;
    }
    72%{
        background-size: 1500% 6600%;
        background-position: 60.5% 3.15%;
    }
    81%{
        background-size: 1500% 6600%;
        background-position: 68.2% 3.15%;
    }
    90%{
        background-size: 1500% 6600%;
        background-position: 75.76% 3.15%;
    }
    100%{
        background-size: 1500% 6600%;
        background-position: 83.1% 3.15%;
    }
}
@keyframes thaiAttack{
    0%{
        background-size: 1300% 6400%;
        background-position: 0.5% 21.9%;
    }
    10%{
        background-position: 9.5% 21.9%;
    }
    20%{
        background-size: 1100% 6400%;
        background-position: 18.5% 21.9%;
        width: 7em;
    }
    30%{
        background-size: 1000% 6400%;
        background-position: 29% 21.9%;
        width: 8em;
    }
    40%{
        background-size: 1200% 6400%;
        background-position: 52% 21.9%;
        width: 7em;
    }
    50%{
        background-size: 1200% 6400%;
        background-position: 62% 21.9%;
    }
    60%{
        background-size: 1600% 6400%;
        background-position: 70.5% 21.9%;
        width: 5em;
    }
    70%{
        background-size: 1600% 6400%;
        background-position: 77.5% 21.9%;
        width: 5em;
    }
    80%{
        background-size: 1600% 6400%;
        background-position: 83.3% 21.9%;
        width: 5em;
    }
    90%{
        background-size: 2200% 6400%;
        background-position: 95.3% 21.9%;
        width: 4em;
    }
    100%{
         background-size: 2200% 6400%;
        background-position: 95.3% 21.9%;
        width: 4em;
    }
}
@keyframes thaiRun{
    0%{
        background-size: 1500% 6600%;
        background-position: 8.5% 10%;
    }
    16.5%{
        background-size: 1100% 6600%;
        background-position: 16.5% 10%;
        width: 7em;
    }
    33%{
        background-size: 1100% 6600%;
        background-position: 27.5% 10%;
        width: 7em;
    }
    49.5%{
        background-size: 1500% 6600%;
        background-position: 37.9% 10%;
        width: 6em;
    }
    66%{
        background-size: 1100% 6600%;
        background-position: 57.3% 10%;
        width: 7em;
    }
    82.5%{
        
    }
    100%{
        background-size: 1100% 6600%;
        background-position: 57.3% 10%;
        width: 7em;
    }
}